<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid py-5 d-flex justify-content-center">
    <div class="card p-5 shadow rounded border border-light" style="width: 100%; max-width: 50%;">
        <div class="card-header bg-light">
            <div class="d-flex justify-content-between">
                <div>
                    <strong>Guest capacity:</strong>
                    <span th:text="${roomSearch.getGuestCount()}">Guest capacity</span>
                </div>
                <div>
                    <strong>Rooms available during:</strong>
                    <span th:text="${roomSearch.getStartDate()}">Start date</span>
                    <span class="fst-italic">  to  </span>
                    <span th:text="${roomSearch.getEndDate()}">End date</span>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 20%">Room name</th>
                <th scope="col" style="width: 15%">Room type</th>
                <th scope="col" style="width: 15%">Extra beds</th>
                <th scope="col" style="width: 15%">Max Capacity</th>
                <th scope="col" style="width: 15%">Cost/night</th>
                <th scope="col" style="width: 15%"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room, iterStat : ${availableRooms}">
                <th scope="row" th:text="${iterStat.index + 1}">1</th>
                <td th:text="${room.getName()}">Room name</td>
                <td th:text="${room.getRoomType().getName()}">Room type</td>
                <td th:text="${room.getExtraBedsAvailable()}">Extra beds available</td>
                <td th:text="${room.getMaxCapacity()}">Max capacity</td>
                <td th:text="'$' + ${room.getRoomType().getCostPerNight()}">Cost per night</td>
                <td>
                    <form th:attr="action=${roomSearch.isUpdate()} ? '/bookings/booking/edit-room'
                                                      : '/bookings/booking/add-room'" method="post">


                        <input type="hidden" name="bookingId" th:value="${roomSearch.getBookingId()}"/>
                        <input type="hidden" name="bookedObjectId" th:if="${roomSearch.isUpdate()}" th:value="${roomSearch.getBookedObjectId()}"/>
                        <input type="hidden" name="roomId" th:value="${room.getId()}"/>
                        <input type="hidden" name="startDate" th:value="${roomSearch.getStartDate()}"/>
                        <input type="hidden" name="endDate" th:value="${roomSearch.getEndDate()}"/>
                        <button type="submit" class="btn btn-sm btn-dark" th:text="${roomSearch.isUpdate()} ? 'Update room' : 'Add room'">Action</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/bookings/booking(bookingId=${roomSearch.getBookingId()})}" class="btn btn-dark w-100">Go to current booking</a>
        <hr class="w-100 border-0" style="height: 2px; background-color: #dee2e6;">
        <a th:href="@{/bookings/all}"  class="btn btn-dark w-100">Go to bookings</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
